:root {
  --background: rgb(45, 50, 59);
  --button: #2688ff;
  --cm-operator: #c678dd;
  --cm-bracket: #abb2bf;
  --cm-builtin: #61afef;
  --cm-comment: #5c6370;
  --cm-keyword: #e06c75;
  --cm-liquid-atom: #d19a66;
  --cm-property: #61afef;
  --cm-string: #98c379;
  --cm-string-2: #56b6c2;
  --cm-variable: #e06c75;
  --cursor: #528bff;
  --file-overview-background: #2e323b;
  --search-border: #444;
  --selected: #3e4451;
  --sidebar: #252a31;
  --tab-background: #252a31;
  --tab-border-color: black;
  --tab-text-color: #ccc;
  --text-color: #fff;
  --webkit-scrollbar-thumb: rgba(121, 121, 121, 0.4);
  --webkit-scrollbar-thumb-hover: rgba(100, 100, 100, 0.7);
}

/* Overrides */
.cm-editor {
  background: var(--background) !important;
}

.ͼ2 .cm-activeLine {
  background-color: transparent !important;
}

.ͼ1.cm-editor.cm-focused {
  outline: 1px dotted #212121;
}

.ͼ1.cm-editor {
  position: relative !important;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
}

.ͼ1 .cm-scroller {
  display: flex !important;
  align-items: flex-start !important;
  font-family: monospace;
  line-height: 1.4;
  height: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 0;
}

.ͼ1 .cm-content[contenteditable=true] {
  -webkit-user-modify: read-write-plaintext-only;
}

.ͼ1 .cm-content {
  margin: 0;
  flex-grow: 2;
  min-height: 100%;
  display: block;
  white-space: pre;
  word-wrap: normal;
  box-sizing: border-box;
  padding: 4px 0;
  outline: none;
}

.ͼ1 .cm-lineWrapping {
  white-space: pre-wrap;
  white-space: break-spaces;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.ͼ2 .cm-content {
  caret-color: black;
}

.ͼ3 .cm-content {
  caret-color: white;
}

.ͼ1 .cm-line {
  display: block;
  padding: 0 2px 0 4px;
  color: var(--cm-keyword);
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  font-size: 12px !important;
  line-height: 18px !important;
}

.ͼ1 .cm-selectionLayer {
  z-index: -1;
  contain: size style;
}

.ͼ1 .cm-selectionBackground {
  position: absolute;
}

.ͼ2 .cm-selectionBackground {
  background: var(--selected);
}

.ͼ3 .cm-selectionBackground {
  background: #222;
}

.ͼ2.cm-focused .cm-selectionBackground {
  background: var(--selected);
}

.ͼ3.cm-focused .cm-selectionBackground {
  background: #233;
}

.ͼ1 .cm-cursorLayer {
  z-index: 100;
  contain: size style;
  pointer-events: none;
}

.ͼ1.cm-focused .cm-cursorLayer {
  animation: steps(1) cm-blink 1.2s infinite;
}

@keyframes cm-blink {
  50% {
    visibility: hidden;
  }
}

@keyframes cm-blink2 {
  50% {
    visibility: hidden;
  }
}

.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
  position: absolute;
  border-left: 1px solid white !important;
  margin-left: -0.6px;
  pointer-events: none;
}

.ͼ1 .cm-cursor {
  display: none;
}

.ͼ3 .cm-cursor {
  border-left-color: #444;
}

.ͼ1.cm-focused .cm-cursor {
  display: block;
}

.ͼ2 .cm-activeLine {
  background-color: #f3f9ff;
}

.ͼ3 .cm-activeLine {
  background-color: #223039;
}

.ͼ2 .cm-specialChar {
  color: red;
}

.ͼ3 .cm-specialChar {
  color: #f78;
}

.ͼ1 .cm-gutters {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  z-index: 200;
  background: var(--background) !important;
  color: var(--tab-text-color) !important;
}

.ͼ2 .cm-gutters {
  background-color: #f5f5f5;
  color: #6c6c6c;
  border-right: none;
}

.ͼ3 .cm-gutters {
  background-color: #333338;
  color: #ccc;
}

.ͼ1 .cm-gutter {
  display: flex !important;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
}

.ͼ1 .cm-gutterElement {
  box-sizing: border-box;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  white-space: nowrap;
}

.ͼ2 .cm-activeLineGutter {
  color: white !important;
  background-color: transparent;
}

.ͼ3 .cm-activeLineGutter {
  background-color: #222227;
}

.ͼ1 .cm-panels {
  box-sizing: border-box;
  position: sticky;
  left: 0;
  right: 0;
}

.ͼ2 .cm-panels {
  background-color: #f5f5f5;
  color: black;
}

.ͼ2 .cm-panels-top {
  border-bottom: 1px solid #ddd;
}

.ͼ2 .cm-panels-bottom {
  border-top: 1px solid #ddd;
}

.ͼ3 .cm-panels {
  background-color: #333338;
  color: white;
}

.ͼ1 .cm-tab {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.ͼ1 .cm-widgetBuffer {
  vertical-align: text-top;
  height: 1em;
  display: inline;
}

.ͼ1 .cm-placeholder {
  color: #888;
  display: inline-block;
  vertical-align: top;
}

.ͼ1 .cm-button {
  vertical-align: middle;
  color: inherit;
  font-size: 70%;
  padding: .2em 1em;
  border-radius: 1px;
}

.ͼ2 .cm-button:active {
  background-image: linear-gradient(#b4b4b4, #d0d3d6);
}

.ͼ2 .cm-button {
  background-image: linear-gradient(#eff1f5, #d9d9df);
  border: 1px solid #888;
}

.ͼ3 .cm-button:active {
  background-image: linear-gradient(#111, #333);
}

.ͼ3 .cm-button {
  background-image: linear-gradient(#393939, #111);
  border: 1px solid #888;
}

.ͼ1 .cm-textfield {
  vertical-align: middle;
  color: inherit;
  font-size: 70%;
  border: 1px solid silver;
  padding: .2em .5em;
}

.ͼ2 .cm-textfield {
  background-color: white;
}

.ͼ3 .cm-textfield {
  border: 1px solid #555;
  background-color: inherit;
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-errorHighlight {
  background-color: rgba(255, 0, 0, 0.07);
}

.ͼ1 .cm-selectionMatch {
  background-color: #99ff7780;
}

.ͼ1 .cm-searchMatch .cm-selectionMatch {
  background-color: transparent;
}

.ͼ1 .cm-tooltip.cm-tooltip-autocomplete>ul>li {
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 1px 3px;
  line-height: 1.2;
}

.ͼ1 .cm-tooltip.cm-tooltip-autocomplete>ul {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden auto;
  max-width: 700px;
  max-width: min(700px, 95vw);
  min-width: 250px;
  max-height: 10em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ͼ2 .cm-tooltip-autocomplete ul li[aria-selected] {
  background: #17c;
  color: white;
}

.ͼ3 .cm-tooltip-autocomplete ul li[aria-selected] {
  background: #347;
  color: white;
}

.ͼ1 .cm-completionListIncompleteTop:before,
.ͼ1 .cm-completionListIncompleteBottom:after {
  content: "···";
  opacity: 0.5;
  display: block;
  text-align: center;
}

.ͼ1 .cm-tooltip.cm-completionInfo {
  position: absolute;
  padding: 3px 9px;
  width: max-content;
  max-width: 300px;
}

.ͼ1 .cm-completionInfo.cm-completionInfo-left {
  right: 100%;
}

.ͼ1 .cm-completionInfo.cm-completionInfo-right {
  left: 100%;
}

.ͼ2 .cm-snippetField {
  background-color: #00000022;
}

.ͼ3 .cm-snippetField {
  background-color: #ffffff22;
}

.ͼ1 .cm-snippetFieldPosition {
  vertical-align: text-top;
  width: 0;
  height: 1.15em;
  margin: 0 -0.7px -.7em;
  border-left: 1.4px dotted #888;
}

.ͼ1 .cm-completionMatchedText {
  text-decoration: underline;
}

.ͼ1 .cm-completionDetail {
  margin-left: 0.5em;
  font-style: italic;
}

.ͼ1 .cm-completionIcon {
  font-size: 90%;
  width: .8em;
  display: inline-block;
  text-align: center;
  padding-right: .6em;
  opacity: 0.6;
}

.ͼ1 .cm-completionIcon-function:after,
.ͼ1 .cm-completionIcon-method:after {
  content: 'ƒ';
}

.ͼ1 .cm-completionIcon-class:after {
  content: '○';
}

.ͼ1 .cm-completionIcon-interface:after {
  content: '◌';
}

.ͼ1 .cm-completionIcon-variable:after {
  content: '𝑥';
}

.ͼ1 .cm-completionIcon-constant:after {
  content: '𝐶';
}

.ͼ1 .cm-completionIcon-type:after {
  content: '𝑡';
}

.ͼ1 .cm-completionIcon-enum:after {
  content: '∪';
}

.ͼ1 .cm-completionIcon-property:after {
  content: '□';
}

.ͼ1 .cm-completionIcon-keyword:after {
  content: '🔑︎';
}

.ͼ1 .cm-completionIcon-namespace:after {
  content: '▢';
}

.ͼ1 .cm-completionIcon-text:after {
  content: 'abc';
  font-size: 50%;
  vertical-align: middle;
}

.ͼ1 .cm-tooltip {
  z-index: 100;
}

.ͼ2 .cm-tooltip {
  border: 1px solid #bbb;
  background-color: #f5f5f5;
}

.ͼ2 .cm-tooltip-section:not(:first-child) {
  border-top: 1px solid #bbb;
}

.ͼ3 .cm-tooltip {
  background-color: #333338;
  color: white;
}

.ͼ1 .cm-tooltip-arrow:before,
.ͼ1 .cm-tooltip-arrow:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow:before {
  border-top: 7px solid #bbb;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow:after {
  border-top: 7px solid #f5f5f5;
  bottom: 1px;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow {
  bottom: -7px;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow:before {
  border-bottom: 7px solid #bbb;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow:after {
  border-bottom: 7px solid #f5f5f5;
  top: 1px;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow {
  top: -7px;
}

.ͼ1 .cm-tooltip-arrow {
  height: 7px;
  width: 14px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.ͼ3 .cm-tooltip .cm-tooltip-arrow:before {
  border-top-color: #333338;
  border-bottom-color: #333338;
}

.ͼ3 .cm-tooltip .cm-tooltip-arrow:after {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.ͼ1.cm-focused .cm-matchingBracket {
  background-color: #328c8252;
}

.ͼ1.cm-focused .cm-nonmatchingBracket {
  background-color: #bb555544;
}

.ͼ1 .cm-foldPlaceholder {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #888;
  border-radius: .2em;
  margin: 0 1px;
  padding: 0 1px;
  cursor: pointer;
}

.ͼ1 .cm-foldGutter span {
  padding: 0 1px;
  cursor: pointer;
}

.ͼ1i {
  color: var(--cm-keyword);
}

.ͼ1j {
  color: var(--cm-string) !important;
}

.ͼ1k {
  color: var(--cm-comment) !important;
}

.ͼ1l {
  color: var(--cm-liquid-atom);
}

.ͼ1m {
  color: var(--cm-keyword) !important;
  font-weight: bold;
}

.ͼ1n {
  color: var(--cursor) !important;
}

.ͼ1o {
  color: var(--cm-keyword) !important;
}

.ͼ1p {
  color: var(--cursor) !important;
}

.ͼ1q {
  color: var(--cm-bracket) !important;
}

.ͼ1r {
  color: var(--cm-variable) !important;
}

.ͼ1s {
  color: var(--cm-property) !important;
}

.ͼ1t {
  color: var(--cm-keyword) !important;
}

.ͼ15 {
  background-color: #fff;
}

.ͼ5 {
  color: var(--cm-property);
}

.ͼ6 {
  text-decoration: underline;
}

.ͼ7 {
  text-decoration: underline;
  font-weight: bold;
}

.ͼ8 {
  font-style: italic;
}

.ͼ9 {
  font-weight: bold;
}

.ͼa {
  text-decoration: line-through;
}

.ͼb {
  color: var(--cm-variable);
}

.ͼc {
  color: var(--cm-def);
}

.ͼd {
  color: var(--cm-liquid-atom);
}

.ͼe {
  color: var(--cm-string);
}

.ͼf {
  color: var(--cm-string);
}

.ͼg {
  color: var(--cm-def);
}

.ͼh {
  color: #30a;
}

.ͼi {
  color: var(--cm-keyword);
}

.ͼj {
  color: var(--cm-qualifier);
}

.ͼk {
  color: #256;
}

.ͼl {
  color: var(--cm-property);
}

.ͼm {
  color: var(--cm-comment);
}

.ͼn {
  color: #f00;
}


[p-color-scheme=light] [aria-label="Online store editor"] {
  --p-background: #0b0c0d;
  --p-background-hovered: #0b0c0d;
  --p-background-pressed: #0b0c0d;
  --p-background-selected: #0b0c0d;
  --p-surface: #202123;
  --p-surface-neutral: #313335;
  --p-surface-neutral-hovered: #313335;
  --p-surface-neutral-pressed: #313335;
  --p-surface-neutral-disabled: #313335;
  --p-surface-neutral-subdued: #44474a;
  --p-surface-subdued: #1a1c1d;
  --p-surface-disabled: #1a1c1d;
  --p-surface-hovered: #2f3133;
  --p-surface-pressed: #3e4043;
  --p-surface-depressed: #505356;
  --p-surface-search-field: #2f3133;
  --p-backdrop: #00000080;
  --p-overlay: #21212180;
  --p-shadow-color-picker: #0000;
  --p-shadow-color-picker-dragger: #0000;
  --p-hint-from-direct-light: #b9b9b933;
  --p-border: #505356;
  --p-border-neutral-subdued: #82878b;
  --p-border-hovered: #505356;
  --p-border-disabled: #676b6f;
  --p-border-subdued: #82878b;
  --p-border-depressed: #8e9191;
  --p-border-shadow: #5b5f62;
  --p-border-shadow-subdued: #82878b;
  --p-divider: #454749;
  --p-icon: #a6acb2;
  --p-icon-hovered: #e1e3e5;
  --p-icon-pressed: #a6acb2;
  --p-icon-disabled: #54575a;
  --p-icon-subdued: #787d81;
  --p-text: #e3e5e7;
  --p-text-disabled: #6f7377;
  --p-text-subdued: #999fa4;
  --p-interactive: #36a3ff;
  --p-interactive-disabled: #2662b6;
  --p-interactive-hovered: #67afff;
  --p-interactive-pressed: #88bcff;
  --p-focused: #2662b6;
  --p-surface-selected: #020e23;
  --p-surface-selected-hovered: #071d3d;
  --p-surface-selected-pressed: #0d2b56;
  --p-icon-on-interactive: #fff;
  --p-text-on-interactive: #fff;
  --p-action-secondary: #4d5053;
  --p-action-secondary-disabled: #202223;
  --p-action-secondary-hovered: #54575b;
  --p-action-secondary-pressed: #606467;
  --p-action-secondary-depressed: #7b7f84;
  --p-action-primary: #008060;
  --p-action-primary-disabled: #005640;
  --p-action-primary-hovered: #009671;
  --p-action-primary-pressed: #00a47c;
  --p-action-primary-depressed: #00b388;
  --p-icon-on-primary: #e6fff4;
  --p-text-on-primary: #fff;
  --p-text-primary: #008d6a;
  --p-text-primary-hovered: #009e78;
  --p-text-primary-pressed: #00b085;
  --p-surface-primary-selected: #0c1210;
  --p-surface-primary-selected-hovered: #28302c;
  --p-surface-primary-selected-pressed: #36403b;
  --p-border-critical: #e32f0e;
  --p-border-critical-subdued: #e32f0e;
  --p-border-critical-disabled: #831704;
  --p-icon-critical: #da2d0d;
  --p-surface-critical: #450701;
  --p-surface-critical-subdued: #450701;
  --p-surface-critical-subdued-hovered: #441714;
  --p-surface-critical-subdued-pressed: #6b1003;
  --p-surface-critical-subdued-depressed: #871805;
  --p-text-critical: #e9807a;
  --p-action-critical: #cd290c;
  --p-action-critical-disabled: #bb250a;
  --p-action-critical-hovered: #e32f0e;
  --p-action-critical-pressed: #fa3511;
  --p-action-critical-depressed: #fd5749;
  --p-icon-on-critical: #fff8f7;
  --p-text-on-critical: #fff;
  --p-interactive-critical: #fd726a;
  --p-interactive-critical-disabled: #feaca8;
  --p-interactive-critical-hovered: #fd8a84;
  --p-interactive-critical-pressed: #fd9f9b;
  --p-border-warning: #997000;
  --p-border-warning-subdued: #997000;
  --p-icon-warning: #684b00;
  --p-surface-warning: #997000;
  --p-surface-warning-subdued: #4d3b1d;
  --p-surface-warning-subdued-hovered: #523f20;
  --p-surface-warning-subdued-pressed: #574322;
  --p-text-warning: #ca9500;
  --p-border-highlight: #449da7;
  --p-border-highlight-subdued: #449da7;
  --p-icon-highlight: #2c6c73;
  --p-surface-highlight: #006971;
  --p-surface-highlight-subdued: #123539;
  --p-surface-highlight-subdued-hovered: #143a3e;
  --p-surface-highlight-subdued-pressed: #184146;
  --p-text-highlight: #a2effa;
  --p-border-success: #008766;
  --p-border-success-subdued: #008766;
  --p-icon-success: #005e46;
  --p-surface-success: #005e46;
  --p-surface-success-subdued: #1c352c;
  --p-surface-success-subdued-hovered: #1f3a30;
  --p-surface-success-subdued-pressed: #234136;
  --p-text-success: #58ad8e;
  --p-icon-attention: #8a6116;
  --p-surface-attention: #ffea8a;
  --p-decorative-one-icon: #ffba43;
  --p-decorative-one-surface: #8e6609;
  --p-decorative-one-text: #fff;
  --p-decorative-two-icon: #f5b6c0;
  --p-decorative-two-surface: #ce5814;
  --p-decorative-two-text: #fff;
  --p-decorative-three-icon: #00e38d;
  --p-decorative-three-surface: #007c5a;
  --p-decorative-three-text: #fff;
  --p-decorative-four-icon: #00ddda;
  --p-decorative-four-surface: #167c79;
  --p-decorative-four-text: #fff;
  --p-decorative-five-icon: #f4b7bf;
  --p-decorative-five-surface: #c23356;
  --p-decorative-five-text: #fff;
  --p-breakpoints-xs: 0rem;
  --p-breakpoints-sm: 30.625rem;
  --p-breakpoints-md: 48rem;
  --p-breakpoints-lg: 65rem;
  --p-breakpoints-xl: 90rem;
  --p-shadow-transparent: 0 0 0 0 #0000;
  --p-shadow-faint: 0 0.0625rem 0 0 #161d250d;
  --p-shadow-base: 0 0 0 0.0625rem #3f3f440d,0 0.0625rem 0.1875rem 0 #3f3f4426;
  --p-shadow-deep: 0 0 0 0.0625rem #062c521a,0 0.125rem 1rem #212b3614;
  --p-shadow-button: 0 0.0625rem 0 #0000000d;
  --p-shadow-top-bar: 0 0.125rem 0.125rem -0.0625rem #00000026;
  --p-shadow-card: 0 0 0.3125rem #1718180d,0 0.0625rem 0.125rem #00000026;
  --p-shadow-popover: -0.0625rem 0 1.25rem #1718180d,0 0.0625rem 0.3125rem #00000026;
  --p-shadow-layer: 0 1.9375rem 2.5625rem 0 #202a3533,0 0.125rem 1rem 0 #202a3614;
  --p-shadow-modal: 0 1.625rem 5rem #0003,0 0 0.0625rem #0003;
  --p-shadows-inset-button: inset 0 -0.0625rem 0 #0003;
  --p-shadows-inset-button-pressed: inset 0 0.0625rem 0 #00000026;
  --p-override-loading-z-index: 514;
  --p-choice-size: 1.25rem;
  --p-icon-size-small: 0.5rem;
  --p-icon-size-medium: 1.25rem;
  --p-choice-margin: 0.0625rem;
  --p-control-border-width: 0.125rem;
  --p-banner-border-default: inset 0 0.0625rem 0 0 var(--p-border-neutral-subdued),inset 0 0 0 0.0625rem var(--p-border-neutral-subdued);
  --p-banner-border-success: inset 0 0.0625rem 0 0 var(--p-border-success-subdued),inset 0 0 0 0.0625rem var(--p-border-success-subdued);
  --p-banner-border-highlight: inset 0 0.0625rem 0 0 var(--p-border-highlight-subdued),inset 0 0 0 0.0625rem var(--p-border-highlight-subdued);
  --p-banner-border-warning: inset 0 0.0625rem 0 0 var(--p-border-warning-subdued),inset 0 0 0 0.0625rem var(--p-border-warning-subdued);
  --p-banner-border-critical: inset 0 0.0625rem 0 0 var(--p-border-critical-subdued),inset 0 0 0 0.0625rem var(--p-border-critical-subdued);
  --p-thin-border-subdued: 0.0625rem solid var(--p-border-subdued);
  --p-text-field-spinner-offset: 0.125rem;
  --p-text-field-focus-ring-offset: -0.25rem;
  --p-button-group-item-spacing: -0.0625rem;
  --p-range-slider-thumb-size-base: 1rem;
  --p-range-slider-thumb-size-active: 1.5rem;
  --p-frame-offset: 0rem;
  --p-duration-0: 0ms;
  --p-duration-50: 50ms;
  --p-duration-100: 100ms;
  --p-duration-150: 150ms;
  --p-duration-200: 200ms;
  --p-duration-250: 250ms;
  --p-duration-300: 300ms;
  --p-duration-350: 350ms;
  --p-duration-400: 400ms;
  --p-duration-450: 450ms;
  --p-duration-500: 500ms;
  --p-duration-5000: 5000ms;
  --p-ease: cubic-bezier(0.25,0.1,0.25,1);
  --p-ease-in: cubic-bezier(0.42,0,1,1);
  --p-ease-out: cubic-bezier(0,0,0.58,1);
  --p-ease-in-out: cubic-bezier(0.42,0,0.58,1);
  --p-linear: cubic-bezier(0,0,1,1);
  --p-keyframes-bounce: p-keyframes-bounce;
  --p-keyframes-fade-in: p-keyframes-fade-in;
  --p-keyframes-pulse: p-keyframes-pulse;
  --p-keyframes-spin: p-keyframes-spin;
  --p-border-radius-05: 0.125rem;
  --p-border-radius-1: 0.25rem;
  --p-border-radius-2: 0.5rem;
  --p-border-radius-3: 0.75rem;
  --p-border-radius-4: 1rem;
  --p-border-radius-5: 1.25rem;
  --p-border-radius-6: 1.875rem;
  --p-border-radius-base: 0.1875rem;
  --p-border-radius-large: 0.375rem;
  --p-border-radius-half: 50%;
  --p-border-width-1: 0.0625rem;
  --p-border-width-2: 0.125rem;
  --p-border-width-3: 0.1875rem;
  --p-border-width-4: 0.25rem;
  --p-border-width-5: 0.3125rem;
  --p-border-base: var(--p-border-width-1) solid var(--p-border-subdued);
  --p-border-dark: var(--p-border-width-1) solid var(--p-border);
  --p-border-transparent: var(--p-border-width-1) solid #0000;
  --p-border-divider: var(--p-border-width-1) solid var(--p-divider);
  --p-space-0: 0;
  --p-space-025: 0.0625rem;
  --p-space-05: 0.125rem;
  --p-space-1: 0.25rem;
  --p-space-2: 0.5rem;
  --p-space-3: 0.75rem;
  --p-space-4: 1rem;
  --p-space-5: 1.25rem;
  --p-space-6: 1.5rem;
  --p-space-8: 2rem;
  --p-space-10: 2.5rem;
  --p-space-12: 3rem;
  --p-space-16: 4rem;
  --p-space-20: 5rem;
  --p-space-24: 6rem;
  --p-space-28: 7rem;
  --p-space-32: 8rem;
  --p-font-family-sans: -apple-system,BlinkMacSystemFont,"San Francisco","Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  --p-font-family-mono: ui-monospace,SFMono-Regular,"SF Mono",Consolas,"Liberation Mono",Menlo,monospace;
  --p-font-size-1: 0.75rem;
  --p-font-size-2: 0.8125rem;
  --p-font-size-3: 0.875rem;
  --p-font-size-4: 0.9375rem;
  --p-font-size-5: 1rem;
  --p-font-size-6: 1.0625rem;
  --p-font-size-7: 1.25rem;
  --p-font-size-8: 1.3125rem;
  --p-font-size-9: 1.5rem;
  --p-font-size-10: 1.625rem;
  --p-font-size-11: 1.6875rem;
  --p-font-size-12: 1.75rem;
  --p-font-size-13: 2.625rem;
  --p-font-weight-regular: 400;
  --p-font-weight-medium: 500;
  --p-font-weight-semibold: 600;
  --p-font-weight-bold: 700;
  --p-line-height-1: 1rem;
  --p-line-height-2: 1.25rem;
  --p-line-height-3: 1.5rem;
  --p-line-height-4: 1.75rem;
  --p-line-height-5: 2rem;
  --p-line-height-6: 2.25rem;
  --p-line-height-7: 2.75rem;
  --p-z-1: 100;
  --p-z-2: 400;
  --p-z-3: 510;
  --p-z-4: 512;
  --p-z-5: 513;
  --p-z-6: 514;
  --p-z-7: 515;
  --p-z-8: 516;
  --p-z-9: 517;
  --p-z-10: 518;
  --p-z-11: 519;
  --p-z-12: 520;
  color-scheme: dark
}