:root {
  --background: rgb(45, 50, 59);
  --button: #2688ff;
  --cm-def: #c678dd;
  --cm-bracket: #abb2bf;
  --cm-builtin: #61afef;
  --cm-comment: #5c6370;
  --cm-line: #e06c75;
  --cm-liquid-assign: #e06c75;
  --cm-keyword: #c678dd;
  --cm-liquid-atom: #d19a66;
  --cm-property: #56b6c2;
  --cm-qualifier: #d7ba7d;
  --cm-string: #98c379;
  --cm-string-2: #56b6c2;
  --cm-variable: #d19a66;
  --cursor: #528bff;
  --file-overview-background: #2e323b;
  --search-border: #444;
  --selected: #3e4451;
  --sidebar: #252a31;
  --tab-background: #252a31;
  --tab-border-color: black;
  --tab-text-color: #ccc;
  --text-color: #fff;

  --cm-capture: #c586c0;
  --cm-liquid-bracket: #ffd700;
  --cm-meta-bracket: #808080;
  --cm-equals: #528bff;
  --cm-liquid-filter: #56b6c2;
  --cm-number: #b5cea8;
  --cm-atom-def: #d4d4d4;
}

/* update */
.ͼ1g {
  color: var(--cm-def) !important;
}
.ͼ17 {
  color: var(--cm-comment) !important;
}
.ͼ19 {
  color: var(--cm-capture) !important;
}
.ͼ1b {
  color: var(--cm-atom-def) !important;
}
.ͼ1c {
  color: var(--cm-liquid-bracket) !important;
}
.ͼ16 {
  color: var(--cm-string) !important;
}
.ͼ1d {
  color: var(--cm-meta-bracket) !important;
}
.ͼ1e {
  color: var(--cm-def) !important;
}
.ͼ1a {
  color: var(--cm-equals) !important;
}
.ͼ1f {
  color: var(--cm-liquid-filter) !important;
}
.ͼ18 {
  color: var( --cm-number) !important;
}
.ͼ15 {
  color: var(--cm-number) !important;
}


[p-color-scheme=dark] {
  --p-surface: rgb(33, 37, 43) !important;
  --p-background: rgb(27, 29, 35) !important
}

button[name="close"] {
  color: black;
}

[data-diffy-attribute*=".js"] .cm-line, [data-diffy-attribute*=".css"] .cm-line, [data-diffy-attribute*=".scss"] .cm-line {
  color: #abb2bf !important;
}

.cm-panels {
  filter: invert();
}

/* Overrides */
.cm-editor {
  background: var(--background) !important;
}

.ͼ1 .cm-line {
  color: var(--cm-line);
}

.ͼ2 .cm-activeLine {
  background-color: transparent !important;
}

.ͼ1.cm-editor.cm-focused {
  outline: 1px dotted #212121;
}

.ͼ2 .cm-activeLineGutter {
  color: white !important;
  background-color: transparent;
}

.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
  border-left: 1px solid white !important;
}

.ͼ1 .cm-gutters {
  background: var(--background) !important;
  border-right: none !important;
}

.ͼ2.cm-focused .cm-selectionBackground, .ͼ2 .cm-selectionBackground {
  background: var(--selected) !important;
}

.ͼ1i {
  color: var(--cm-keyword) !important;
}

.ͼ1j {
  color: var(--cm-string) !important;
}

.ͼ1k {
  color: var(--cm-comment) !important;
}

.ͼ1l {
  color: var(--cm-liquid-atom);
}

.ͼ1m {
  color: var(--cm-keyword) !important;
  font-weight: bold;
}

.ͼ1n {
  color: var(--cursor) !important;
}

.ͼ1o {
  color: var(--cm-liquid-assign) !important;
}

.ͼ1p {
  color: var(--cursor) !important;
}

.ͼ1q {
  color: var(--cm-bracket) !important;
}

.ͼ1r {
  color: var(--cm-variable) !important;
}

.ͼ1s {
  color: var(--cm-property) !important;
}

.ͼ1t {
  color: var(--cm-keyword) !important;
}

.ͼ5 {
  color: var(--cm-property) !important;
}

.ͼb {
  color: var(--cm-def) !important;
}

.ͼc {
  color: var(--cm-def) !important;
}

.ͼd {
  color: var(--cm-liquid-atom) !important;
}

.ͼe {
  color: var(--cm-string) !important;
}

.ͼf {
  color: var(--cm-string) !important;
}

.ͼg {
  color: var(--cm-builtin) !important;
}

.ͼh {
  color: #30a !important;
}

.ͼi {
  color: var(--cm-keyword) !important;
}

.ͼj {
  color: var(--cm-qualifier) !important;
}

.ͼk {
  color: var(--cm-property) !important;
}

.ͼl {
  color: var(--cm-property) !important;
}

.ͼm {
  color: var(--cm-comment) !important;
}

.ͼn {
  color: #f00 !important;
}
