:root {
  --background: rgb(45, 50, 59);
  --button: #2688ff;
  --cm-def: #c678dd;
  --cm-bracket: #abb2bf;
  --cm-builtin: #61afef;
  --cm-comment: #5c6370;
  --cm-line: #e06c75;
  --cm-liquid-assign: #e06c75;
  --cm-keyword: #c678dd;
  --cm-liquid-atom: #d19a66;
  --cm-property: #56b6c2;
  --cm-qualifier: #d7ba7d;
  --cm-string: #98c379;
  --cm-string-2: #56b6c2;
  --cm-variable: #d19a66;
  --cursor: #528bff;
  --file-overview-background: #2e323b;
  --search-border: #444;
  --selected: #3e4451;
  --sidebar: #252a31;
  --tab-background: #252a31;
  --tab-border-color: black;
  --tab-text-color: #ccc;
  --text-color: #fff;

  --cm-capture: #c586c0;
  --cm-liquid-bracket: #ffd700;
  --cm-meta-bracket: #808080;
  --cm-equals: #528bff;
  --cm-liquid-filter: #56b6c2;
  --cm-number: #b5cea8;
  --cm-atom-def: #d4d4d4;
}

[p-color-scheme="dark"], body.dark {
  color-scheme: dark !important;
  --p-color-bg: #202123 !important;
  --p-color-bg-input: #2f3133 !important;
  --p-color-bg-app: rgb(37, 37, 38) !important;
  --p-surface-neutral-subdued: #44474a !important;
  --p-surface-hovered: #2f3133 !important;
  --p-surface-pressed: #3e4043 !important;
  --p-surface-search-field: #2f3133 !important;
  --p-color-border-subdued: #505356 !important;
  --p-divider: #454749 !important;
  --p-icon: #a6acb2 !important;
  --p-color-text: #e3e5e7 !important;
  --p-text-subdued: #999fa4 !important;
  --p-interactive: #36a3ff !important;
  --p-interactive-pressed: #88bcff !important;
  --p-action-secondary-hovered: #54575b !important;
  --p-action-secondary-pressed: #606467 !important;
  --p-border: var(--p-border-width-1) solid var(--p-border) !important;
  --p-border-divider: var(--p-border-width-1) solid var(--p-divider) !important;
  --p-surface-selected: #54575b !important;
  --osui_color-frame-surface-bg: rgb(37, 37, 38) !important;
  --p-color-bg-surface: rgb(37, 37, 38) !important;
  --p-color-border-secondary: dimgrey !important;

  --notification-icon : #ebe0e0;
  --action-list-hover: #5c5858;
}
[p-color-scheme="dark"] [class^="Polaris-Button_"]{
  padding: 0 5px;
}
[p-color-scheme="dark"] [class^="Polaris-Button_"] {
  background: rgb(37, 37, 38) !important;
}
[p-color-scheme="dark"] [class^="Polaris-Button--variantPrimary_"][aria-disabled="false"]{
  background: none !important;
}
[p-color-scheme="dark"] [class^="Polaris-Button_"] span{
  font-size: 12px !important;
}
[p-color-scheme="dark"] [class^="Polaris-Button_"][aria-disabled="true"] {
  border: 1px solid #ccc;
}

.cm-tooltip {
  filter: invert(1);
  overflow: auto;
}

[placeholder="Enhanced search loading..."] + div::after {
  background: rgb(37, 37, 38) !important;
}


[data-diffy-attribute="tablist"] [data-diffy-attribute][aria-selected="true"] {
  background: var(--p-surface-pressed);
}

[data-diffy-attribute] [class*="selected"] button, [data-diffy-attribute] [aria-labelledby]:hover {
  background-color: #363636 !important;
}

[role="list"] {
  background: rgb(37, 37, 38) !important;
}

#liquify-search + div {
  background: var(--p-color-bg-app) !important;
}

#liquify-search {
  padding-left: 0.5rem;
}

.cm-search.cm-panel input {
  filter: invert(1);
}

/* update */
.ͼ1g {
  color: var(--cm-def) !important;
}
.ͼ17 {
  color: var(--cm-string) !important;
}
.ͼ19 {
  color: var(--cm-capture) !important;
}
.ͼ1b {
  color: var(--cm-atom-def) !important;
}
.ͼ1c {
  color: var(--cm-builtin) !important;
}
.ͼ16 {
  color: var(--cm-string) !important;
}
.ͼ1d {
  color: var(--cm-liquid-bracket) !important;
}
.ͼ1e {
  color: var(--cm-bracket) !important;
}
.ͼ1a {
  color: var(--cm-capture) !important;
}
.ͼ1f {
  color: var(--cm-liquid-atom) !important;
}
.ͼ18 {
  color: var(--cm-comment) !important;
}
.ͼ15 {
  color: var(--cm-number) !important;
}
.ͼ1h {
  color: var(--cm-line) !important;
}


[p-color-scheme=dark] {
  --p-surface: rgb(33, 37, 43) !important;
  --p-color-bg: rgb(27, 29, 35) !important;
}

button[name="close"] {
  color: black;
}

[data-diffy-attribute*=".js"] .cm-line, [data-diffy-attribute*=".css"] .cm-line, [data-diffy-attribute*=".scss"] .cm-line {
  color: #abb2bf !important;
}

.cm-panels {
  filter: invert();
}

/* Overrides */
.cm-editor {
  background: var(--background) !important;
}

.ͼ1 .cm-line {
  color: var(--cm-line);
}

.ͼ2 .cm-activeLine {
  background-color: transparent !important;
}

.ͼ1.cm-editor.cm-focused {
  outline: 1px dotted #212121;
}

.ͼ2 .cm-activeLineGutter {
  color: white !important;
  background-color: transparent;
}

.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
  border-left: 1px solid white !important;
}

.ͼ1 .cm-gutters {
  background: var(--background) !important;
  border-right: none !important;
}

.ͼ2.cm-focused .cm-selectionBackground, .ͼ2 .cm-selectionBackground {
  background: var(--selected) !important;
}

.ͼ1i {
  color: var(--cm-keyword) !important;
}

.ͼ1j {
  color: var(--cm-string) !important;
}

.ͼ1k {
  color: var(--cm-comment) !important;
}

.ͼ1l {
  color: var(--cm-liquid-atom);
}

.ͼ1m {
  color: var(--cm-keyword) !important;
  font-weight: bold;
}

.ͼ1n {
  color: var(--cursor) !important;
}

.ͼ1o {
  color: var(--cm-liquid-assign) !important;
}

.ͼ1p {
  color: var(--cursor) !important;
}

.ͼ1q {
  color: var(--cm-bracket) !important;
}

.ͼ1r {
  color: var(--cm-variable) !important;
}

.ͼ1s {
  color: var(--cm-property) !important;
}

.ͼ1t {
  color: var(--cm-keyword) !important;
}

.ͼ5 {
  color: var(--cm-property) !important;
}

.ͼb {
  color: var(--cm-def) !important;
}

.ͼc {
  color: var(--cm-def) !important;
}

.ͼd {
  color: var(--cm-liquid-atom) !important;
}

.ͼe {
  color: var(--cm-string) !important;
}

.ͼf {
  color: var(--cm-string) !important;
}

.ͼg {
  color: var(--cm-builtin) !important;
}

.ͼh {
  color: #30a !important;
}

.ͼi {
  color: var(--cm-keyword) !important;
}

.ͼj {
  color: var(--cm-qualifier) !important;
}

.ͼk {
  color: var(--cm-property) !important;
}

.ͼl {
  color: var(--cm-property) !important;
}

.ͼm {
  color: var(--cm-comment) !important;
}

.ͼn {
  color: #f00 !important;
}
.Online-Store-UI-NavItem--hasIndicator_zoaah .Online-Store-UI-NavItem__PrimaryAction_12jax:before {
    background-color: var(--notification-icon) !important;
}
[data-buttongroup-variant=segmented]>:last-child:hover,
[data-buttongroup-variant=segmented]>:last-child [aria-expanded="true"]{
  box-shadow: inset 0 -0.0625rem 0 #b5b5b5,inset -0.0625rem 0 0 #e3e3e3,inset 0.0625rem 0 0 #e3e3e3,inset 0 0.0625rem 0 #e3e3e3 !important;
  border-bottom-right-radius: 0.5em !important;
  border-top-right-radius: 0.5em !important;
}
[class^="Polaris-ActionList__Item_"]:hover {
  background-color: var(--action-list-hover) !important;
}