:root {
  --p-background: #f6f6f7;
  --p-surface: #fff;
  --p-surface-neutral-subdued: #f6f6f7;
  --p-surface-hovered: #f6f6f7;
  --p-surface-search-field: #f1f2f3;
  --p-border: #8c9196;
  --p-divider: #e1e3e5;
  --p-icon: #5c5f62;
  --p-text: #202223;
  --p-text-subdued: #6d7175;
  --p-interactive: #2c6ecb;
  --p-interactive-pressed: #103262;
  --p-surface-selected: #f2f7fe;
  --p-action-secondary-hovered: #f6f6f7;
  --p-action-secondary-pressed: #f1f2f3;
}