.asset-listing-theme-file__list-item {
  font-size: 1.2rem !important;
  margin-left: 5px !important;
  padding: 0 !important;
}

.asset-search {
  padding: 5px !important;
}

#asset-search {
  font-size: 13px !important;
}

.file-overview {
  border-bottom: none !important;
  padding: 0 !important;
}

.newDesignLanguage .template-editor-titlebar__actions .ui-button {
  border: none !important;
}

.newDesignLanguage .ui-breadcrumbs .ui-breadcrumb {
  border: none !important;
  min-height: 1em !important;
}

.newDesignLanguage .ui-button--size-small,
.newDesignLanguage .btn-slim {
  font-size: 12px !important;
  min-height: 1em !important;
  padding: 4px !important;
}

.template-editor-layout {
  height: calc(100vh - 2em) !important;
}

.template-editor-layout__sidebar {
  max-width: 250px !important;
}

.template-editor-tab-bar {
  max-height: 3rem !important;
  min-height: 3rem !important;
}

.template-editor-titlebar {
  min-height: 0 !important;
  z-index: 999 !important;
}

.template-editor-titlebar__actions {
  align-items: baseline;
  display: contents !important;
}

.template-editor-titlebar__title {
  max-width: 20% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.template-editor-titlebar__title-context,
.view-older-versions,
.theme-asset-name {
  font-size: 12px !important;
}

.template-editor-toolbar {
  display: none !important;
}

.ui-button-group,
.button-group {
  margin-top: -0.6rem !important;
}

html {
  overflow: hidden;
}

.asset-listing-theme-file__list-item .next-icon--size-20 {
  width: 12px !important;
  height: 12px !important;
}

.asset-search.search-loading svg {
  animation-name: ckw;
  animation-duration: 2s;
  fill: orange;
  animation-iteration-count: infinite;
}
@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.asset-search svg {
  fill: #2688ff;
}

/* Hide codemirror autocomplete */
.CodeMirror-hints {
  display: none;
}

.template-editor-layout__main ::-webkit-scrollbar {
  height: 7px !important;
}

.optimize__search-all {
  display: none;
}

.template-editor-tab.active {
  padding: 0 2em 0 .5em !important;
}

.template-editor-tab {
  padding: 0 0.5em !important;
}

.template-editor-tab-close-button {
  width: 2.8rem !important;
}