[data-diffy-attribute="tablist"] {
  display: inline-table;
}

[data-diffy-attribute="tablist"] [role="presentation"] {
  display: inline-table;
  position: relative;
}

[data-diffy-attribute="tablist"] [role="presentation"] button:nth-child(2) {
  height: 1rem;
  padding: 0;
  width: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0;
  fill: grey;
}
