.template-editor-tab-bar {
  height: auto !important;
}
.template-editor-tabs {
  display: block !important;
}
.template-editor-tabs {
  overflow-x: visible !important;
  overflow-y: visible !important;
}