.template-editor-tab-bar {
  height: auto !important;
}

.template-editor-tabs {
  display: block !important;
}

.template-editor-tab {
  float: left;
  max-height: 2em;
}

.template-editor-tab-bar {
  min-height: 3rem !important;
  max-height: unset !important;
}
