:root {
  --background: #1e1e1e;
  --button: #2688ff;
  --cm-def: #9cdcfe;
  --cm-bracket: #7d7d7d;
  --cm-builtin: #61afef;
  --cm-comment: #6a9950;
  --cm-line: #569cd6;
  --cm-keyword: #569cd6;
  --cm-liquid-atom: #b5cea8;
  --cm-property: #dcdcaa;
  --cm-qualifier: #d7ba7d;
  --cm-string: #d19d83;
  --cm-string-2: #d16969;
  --cm-variable: #9cdcfe;
  --cursor: #d4d4d4;
  --file-overview-background: #333;
  --search-border: #444;
  --selected: #264f78;
  --sidebar: #252526;
  --tab-background: #2d2d2d;
  --tab-border-color: black;
  --tab-text-color: #ccc;
  --text-color: #fff;
}

/* Overrides */
.cm-editor {
  background: var(--background) !important;
}

button[name="close"] {
  color: black;
}

.cm-panels {
  filter: invert();
}

.ͼ1 .cm-line {
  color: var(--cm-line);
}

.ͼ2 .cm-activeLine {
  background-color: transparent !important;
}

.ͼ1.cm-editor.cm-focused {
  outline: 1px dotted #212121;
}

.ͼ2 .cm-activeLineGutter {
  color: white !important;
  background-color: transparent;
}

.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
  border-left: 1px solid white !important;
}

.ͼ1 .cm-gutters {
  background: var(--background) !important;
  border-right: none;
}

.ͼ2.cm-focused .cm-selectionBackground, .ͼ2 .cm-selectionBackground {
  background: var(--selected);
}

.ͼ1i {
  color: var(--cm-keyword);
}

.ͼ1j {
  color: var(--cm-string) !important;
}

.ͼ1k {
  color: var(--cm-comment) !important;
}

.ͼ1l {
  color: var(--cm-liquid-atom);
}

.ͼ1m {
  color: var(--cm-keyword) !important;
  font-weight: bold;
}

.ͼ1n {
  color: var(--cursor) !important;
}

.ͼ1o {
  color: var(--cm-keyword) !important;
}

.ͼ1p {
  color: var(--cursor) !important;
}

.ͼ1q {
  color: var(--cm-bracket) !important;
}

.ͼ1r {
  color: var(--cm-variable) !important;
}

.ͼ1s {
  color: var(--cm-property) !important;
}

.ͼ1t {
  color: var(--cm-keyword) !important;
}

.ͼ15 {
  background-color: #fff;
}

.ͼ5 {
  color: var(--cm-property);
}

.ͼb {
  color: var(--cm-variable);
}

.ͼc {
  color: var(--cm-def);
}

.ͼd {
  color: var(--cm-liquid-atom);
}

.ͼe {
  color: var(--cm-string);
}

.ͼf {
  color: var(--cm-string);
}

.ͼg {
  color: var(--cm-def);
}

.ͼh {
  color: #30a;
}

.ͼi {
  color: var(--cm-keyword);
}

.ͼj {
  color: var(--cm-qualifier);
}

.ͼk {
  color: var(--cm-property);
}

.ͼl {
  color: var(--cm-property);
}

.ͼm {
  color: var(--cm-comment);
}

.ͼn {
  color: #f00;
}
