:root {
  --background: #1e1e1e;
  --button: #2688ff;
  --cm-def: #9cdcfe;
  --cm-bracket: #7d7d7d;
  --cm-builtin: #61afef;
  --cm-comment: #6a9950;
  --cm-line: #569cd6;
  --cm-keyword: #569cd6;
  --cm-liquid-atom: #b5cea8;
  --cm-property: #dcdcaa;
  --cm-qualifier: #d7ba7d;
  --cm-string: #d19d83;
  --cm-string-2: #d16969;
  --cm-variable: #9cdcfe;
  --cursor: #d4d4d4;
  --file-overview-background: #333;
  --search-border: #444;
  --selected: #264f78;
  --sidebar: #252526;
  --tab-background: #2d2d2d;
  --tab-border-color: black;
  --tab-text-color: #ccc;
  --text-color: #fff;

  --cm-capture: #c586c0;
  --cm-liquid-bracket: #ffd700;
  --cm-meta-bracket: #808080;
  --cm-equals: #d4d4d4;
  --cm-liquid-filter: #dcdcaa;
  --cm-number: #b5cea8;
}

[p-color-scheme="dark"], body.dark {
  color-scheme: dark !important;
  --p-background: #202123 !important;
  --p-surface: rgb(37, 37, 38) !important;
  --p-surface-neutral-subdued: #44474a !important;
  --p-surface-hovered: #2f3133 !important;
  --p-surface-pressed: #3e4043 !important;
  --p-surface-search-field: #2f3133 !important;
  --p-border: #505356 !important;
  --p-divider: #454749 !important;
  --p-icon: #a6acb2 !important;
  --p-text: #e3e5e7 !important;
  --p-text-subdued: #999fa4 !important;
  --p-interactive: #36a3ff !important;
  --p-interactive-pressed: #88bcff !important;
  --p-action-secondary-hovered: #54575b !important;
  --p-action-secondary-pressed: #606467 !important;
  --p-border: var(--p-border-width-1) solid var(--p-border) !important;
  --p-border-divider: var(--p-border-width-1) solid var(--p-divider) !important;
  --p-surface-selected: #54575b !important;
}

[data-diffy-attribute="tablist"] [data-diffy-attribute][aria-selected="true"] {
  background: var(--p-surface-pressed);
}

/* update */
.ͼ1g {
  color: var(--cm-def) !important;
}
.ͼ17 {
  color: var(--cm-comment) !important;
}
.ͼ19 {
  color: var(--cm-capture) !important;
}
.ͼ1b {
  color: var(--cm-def) !important;
}
.ͼ1c {
  color: var(--cm-liquid-bracket) !important;
}
.ͼ16 {
  color: var(--cm-string) !important;
}
.ͼ1d {
  color: var(--cm-meta-bracket) !important;
}
.ͼ1e {
  color: var(--cm-def) !important;
}
.ͼ1a {
  color: var(--cm-equals) !important;
}
.ͼ1f {
  color: var(--cm-liquid-filter) !important;
}
.ͼ18 {
  color: var( --cm-number) !important;
}
.ͼ15 {
  color: var(--cm-number) !important;
}


/* Overrides */
.cm-editor {
  background: var(--background) !important;
}

button[name="close"] {
  color: black;
}

.cm-panels {
  filter: invert();
}

.cm-line {
  color: var(--cm-line);
}

.cm-activeLine {
  background-color: transparent !important;
}

.ͼ1.cm-editor.cm-focused {
  outline: 1px dotted #212121;
}

.ͼ2 .cm-activeLineGutter {
  color: white !important;
  background-color: transparent;
}

.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
  border-left: 1px solid white !important;
}

.ͼ1 .cm-gutters {
  background: var(--background) !important;
  border-right: none;
}

.ͼ2.cm-focused .cm-selectionBackground, .ͼ2 .cm-selectionBackground {
  background: var(--selected);
}

.ͼ1i {
  color: var(--cm-keyword) !important;
}

.ͼ1j {
  color: var(--cm-string) !important;
}

.ͼ1k {
  color: var(--cm-comment) !important;
}

.ͼ1l {
  color: var(--cm-liquid-atom) !important;
}

.ͼ1m {
  color: var(--cm-keyword) !important;
  font-weight: bold;
}

.ͼ1n {
  color: var(--cursor) !important;
}

.ͼ1o {
  color: var(--cm-keyword) !important;
}

.ͼ1p {
  color: var(--cursor) !important;
}

.ͼ1q {
  color: var(--cm-bracket) !important;
}

.ͼ1r {
  color: var(--cm-variable) !important;
}

.ͼ1s {
  color: var(--cm-property) !important;
}

.ͼ1t {
  color: var(--cm-keyword) !important;
}

.ͼ5 {
  color: var(--cm-property) !important;
}

.ͼb {
  color: var(--cm-variable) !important;
}

.ͼc {
  color: var(--cm-def) !important;
}

.ͼd {
  color: var(--cm-liquid-atom) !important;
}

.ͼe {
  color: var(--cm-string) !important;
}

.ͼf {
  color: var(--cm-string) !important;
}

.ͼg {
  color: var(--cm-def) !important;
}

.ͼh {
  color: #30a !important;
}

.ͼi {
  color: var(--cm-keyword) !important;
}

.ͼj {
  color: var(--cm-qualifier) !important;
}

.ͼk {
  color: var(--cm-property) !important;
}

.ͼl {
  color: var(--cm-property) !important;
}

.ͼm {
  color: var(--cm-comment) !important;
}

.ͼn {
  color: #f00 !important;
}
